{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
    "extends": [
      "airbnb-base"

    ],

    "rules": {
      "no-var": "error",
      "no-extra-semi": "error",
      "semi": [2, "always"],
      "no-trailing-spaces": ["error", { "skipBlankLines": true }]
    }
  }